# Dépendances
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Fichiers de couverture de tests
coverage/
.nyc_output/

# Variables d'environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Fichiers temporaires
*.tmp
*.temp
